<h1>My Picks</h1>

<% allMatches.forEach(function(match) {%>
<p>
  <button
    class="btn btn-primary"
    type="button"
    data-toggle="collapse"
    data-target="#myCCFBPicks<%= match.id %>"
    aria-expanded="false"
    aria-controls="myCCFBPicks<%= match.id %>"
    >
    Week <%= match.week %> - <%= match.title%>
  </button>
</p>
<div class="collapse" id="myCCFBPicks<%= match.id %>">
  <div class="card card-block">
    <form action="/dash/myPicks/<%= match.week %>" method="POST">
      <label><%= match.title %></label>
      <select name="choice">
       <option value="">
              Make Pick
        </option>
        <option value="<%= match.visId %>">
              visitor
        </option>
        <option value="<%= match.homeId %>">
              home
        </option>
      </select>
       <input type="hidden" name="matchId" value="<%= match.id %>">
<!--       <select name="choice">***confidence: 1 - length***</select> -->
      <input type="submit" name="submit">
    </form>
  </div>
</div>
<%})%>
<!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#myCCFBPicksWk2" aria-expanded="false" aria-controls="myCCFBPicksWk2">
    Week 2
  </button>
</p>
<div class="collapse" id="myCCFBPicksWk2">
  <div class="card card-block">
<p>Form for WEEK 2 picks here!</p>
  </div>
</div>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#myCCFBPicksWk3" aria-expanded="false" aria-controls="myCCFBPicksWk3">
    Week 3
  </button>
</p>
<div class="collapse" id="myCCFBPicksWk3">
  <div class="card card-block">
<p>Form for WEEK 3 picks here!</p>
  </div>
</div>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#myCCFBPicksWk4" aria-expanded="false" aria-controls="myCCFBPicksWk4">
    Week 4
  </button>
</p>
<div class="collapse" id="myCCFBPicksWk4">
  <div class="card card-block">
<p>Form for WEEK 4 picks here!</p>
  </div>
</div>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#myCCFBPicksWk5" aria-expanded="false" aria-controls="myCCFBPicksWk5">
    Week 5
  </button>
</p>
<div class="collapse" id="myCCFBPicksWk5">
  <div class="card card-block">
<p>Form for WEEK 5 picks here!</p>
  </div>
</div>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#myCCFBPicksWk6" aria-expanded="false" aria-controls="myCCFBPicksWk6">
    Week 6
  </button>
</p>
<div class="collapse" id="myCCFBPicksWk6">
  <div class="card card-block">
<p>Form for WEEK 6 picks here!</p>
  </div>
</div>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#myCCFBPicksWk7" aria-expanded="false" aria-controls="myCCFBPicksWk7">
    Week 7
  </button>
</p>
<div class="collapse" id="myCCFBPicksWk7">
  <div class="card card-block">
<p>Form for WEEK 7 picks here!</p>
  </div>
</div>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#myCCFBPicksWk8" aria-expanded="false" aria-controls="myCCFBPicksWk8">
    Week 8
  </button>
</p>
<div class="collapse" id="myCCFBPicksWk8">
  <div class="card card-block">
<p>Form for WEEK 8 picks here!</p>
  </div>
</div>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#myCCFBPicksWk9" aria-expanded="false" aria-controls="myCCFBPicksWk9">
    Week 9
  </button>
</p>
<div class="collapse" id="myCCFBPicksWk9">
  <div class="card card-block">
<p>Form for WEEK 9 picks here!</p>
  </div>
</div>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#myCCFBPicksWk10" aria-expanded="false" aria-controls="myCCFBPicksWk10">
    Week 10
  </button>
</p>
<div class="collapse" id="myCCFBPicksWk10">
  <div class="card card-block">
<p>Form for WEEK 10 picks here!</p>
  </div>
</div>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#myCCFBPicksWk11" aria-expanded="false" aria-controls="myCCFBPicksWk11">
    Week 11
  </button>
</p>
<div class="collapse" id="myCCFBPicksWk11">
  <div class="card card-block">
<p>Form for WEEK 11 picks here!</p>
  </div>
</div>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#myCCFBPicksWk12" aria-expanded="false" aria-controls="myCCFBPicksWk12">
    Week 12
  </button>
</p>
<div class="collapse" id="myCCFBPicksWk12">
  <div class="card card-block">
<p>Form for WEEK 12 picks here!</p>
  </div>
</div>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#myCCFBPicksWk13" aria-expanded="false" aria-controls="myCCFBPicksWk13">
    Week 13
  </button>
</p>
<div class="collapse" id="myCCFBPicksWk13">
  <div class="card card-block">
<p>Form for WEEK 13 picks here!</p>
  </div>
</div>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#myCCFBPicksWk14" aria-expanded="false" aria-controls="myCCFBPicksWk14">
    Week 14
  </button>
</p>
<div class="collapse" id="myCCFBPicksWk14">
  <div class="card card-block">
<p>Form for Conference Championships picks here!</p>
  </div> -->
<!-- </div> -->





